main {
    width: 100%;
    min-height: 100vh;
    background-color: #111112;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Profile Section */

/* Card List Section */

